@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.font-abhayaLibre{
  font-family: 'Abhaya Libre', serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
input{
  @apply outline-none;
}
.fcta{
  background: url('../../public/cta-banner.jpg');
}
.hero-head{
  @apply text-5xl md:text-[5.3rem] md:leading-[5.3rem] font-bold font-abhayaLibre;
}
.hero-para{
  @apply text-base md:text-2xl font-medium;
}
.section-head{
  @apply text-2xl md:text-[2.5rem] font-semibold capitalize leading-[1.2];
}
.section-para{
  @apply text-base md:text-lg font-medium;
}
.sign-head{
  @apply text-base md:text-3xl font-semibold capitalize;
}
.sign-para{
  @apply text-sm md:text-base font-normal;
}
.signup{
  background: url('../../public/signupbg.png');
}
.hero-btn{
  @apply w-3/6 uppercase font-medium text-xs md:text-base h-full rounded-full transition-all ease-linear duration-300;
}
.cat-btn{
  @apply w-fit h-8 md:h-10 bg-lightGray text-textPrimary text-sm font-semibold rounded-full hover:text-white transition-all ease-in duration-300;
}



@layer base {
  :root {
    /* Border Radius */
    --radius: 0.5rem;
    
    /* Primary Colors */
    --primary: #0D2740;
    --primary-opacity: #0d27409d;
    --primary-hover: #0D2740;
    
    /* Secondary Colors */
    --secondary: #FF9500;
    --secondary-variant: #FDA51E;
    
    /* Tertiary Colors */
    --tertiary: #292D32;
    
    /* Neutral Colors - Grays */
    --gray: #646566;
    --gray-secondary: #4C4C4C;
    --gray-light: #E9ECEF;
    --gray-lighter: #D9D9D9;
    --gray-border: #CED4DA;
    --gray-dark: #363636;
    --gray-background: #F9FAFB;
    
    /* Text Colors */
    --text-primary: #212529;
    --text-secondary: #00010399;
    --text-muted: #ffffffb2;
    
    /* Chart & Data Visualization Colors */
    --chart-blue: #3b82f6;
    --chart-green: #10b981;
    --chart-green-light: #4ade80;
    --chart-yellow: #f59e0b;
    --chart-purple: #8b5cf6;
    --chart-red: #ef4444;
    
    /* Base Colors */
    --white: #ffffff;
    --black: #000000;
    
    /* Opacity Variants */
    --black-10: #00000010;
    --black-33: #00000033;
    --black-66: #00000066;
    --black-99: #00000099;
    --black-1A: #0000001A;
    --white-70: #ffffffb2;
    --white-opacity: rgba(255, 255, 255, 0.7);
    --border-opacity: #c6cbd17e;
    
    /* Status Colors */
    --success: #10b981;
    --warning: #f59e0b;
    --error: #ef4444;
  }
}
