@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
.fcta{
  background: url('../../public/footercta.jpg');
}
.section-head{
  @apply text-2xl md:text-[2.5rem] font-semibold capitalize leading-[1.2];
}
.section-para{
  @apply text-base md:text-lg font-medium;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --gray:#646566;
    --primary:#0D2740;
    --secondary:#FF9500;
    --tetiary:#292D32;
    --light-sec:#00010399;
  }
}
